html,body{
		height: 100%;
		background-color: #9ce29c;
}

.wrapper {
		height: 700px;
		width: 990px;
		background-color: #c4eec4;
		border: 20px solid #9ce29c;
}

.row {	height: 100%;}

.container { /*Make sure this is compatable with safari*/
		display: flex;
}

/*---- SIDE PANE ---------------------------------------*/
#side_pane {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		min-height: 100%;
		background-color:#9ce29c;
}

#title {
}

#side_pane #intervals label {
		display: inline-block;
		width: 180px;
}
#side_pane #settings input {
		border: 2px solid #9ce29c;
		width: 50px;
}

#update-settings {
		border: none;
}

.side_pane_container {
		padding: 15px;
		width:270px;
}

#task-list {
		background-color: #ffffcc;
		height:200px;
}

#settings {
		background-color: hsla(0, 0%, 75%, .75);
}

.alarm-menu {
		display: inline-block;
		width: 133px;
		height: 10px;
}


/*---- POMODORO TIMER ---------------------------------------*/
#pomodoro {
		display:flex;
		align-self: center;
		justify-content: center;
		position: absolute;
}

#innerPom{
		align-self: center;
		color: #c04242;
		position: absolute;
}
#timer{
		font-size: 80pt;
}

#pause {
		color: #c04242;
		width: 130px;
		font-size: 20pt;
		background-color: #ffb3b3;
		border: 2px solid #993333;
		text-align: center;
		margin:-10px 50px 0 50px ;
}

#pause:hover{
		color: #c04242;
}

#pause:active{
		background-color: #ff9999;
		color:#993333;
}
