html,body{
		height: 100%;
		background-color: #9ce29c;
}

.wrapper {
		height: 700px;
		width: 990px;
		background-color: #c4eec4;
		border: 20px solid #9ce29c;
}

.row {	height: 100%;}

.container { /*Make sure this is compatable with safari*/
		display: flex;
}

/*---- SIDE PANE ---------------------------------------*/
#side_pane {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		min-height: 100%;
		background-color:#9ce29c;
}

.side_pane_container {
		padding: 15px;
		width:270px;
}

#todo {
}

#task-list {
		background-color: #ffffcc;
		height:200px;
}

#settings {
		background-color: hsla(0, 0%, 75%, .75);
}

#settings input{
		width: 50px;
}


/*---- POMODORO TIMER ---------------------------------------*/
#pomodoro {
		display:flex;
		align-self: center;
		justify-content: center;
		position: absolute;
}

#innerPom{
		align-self: center;
		font-size: 40pt;
		color: #c04242;
		position: absolute;
}
#timer{
		font-size: 70pt;
}

